# --------- pytorch --------- #
torch==2.2.2
torchvision==0.17.2
pytorch-lightning==1.6.4
torchmetrics==0.9.1
pytorch-widedeep==1.1.1

# --------- models --------- #
scikit-learn>=1.3.0
shap==0.45.0
scipy==1.12.0
statsmodels

# --------- data processing --------- #
numpy
pandas
impyute==0.0.8
sdv==1.4.0
pyod==1.0.6
missingno==0.5.1
opentsne
openpyxl
mysql-connector-python

# --------- hydra --------- #
hydra-core==1.2.0
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0
omegaconf

# --------- figures --------- #
plotly
seaborn>=0.12.2
matplotlib
patchworklib

# --------- loggers --------- #
wandb==0.11.2

# --------- utils ---------- #
tqdm
slugify

# --------- others --------- #
rootutils       # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
# sh            # for running bash commands in some tests (linux/macos only)

spacy==3.7.4
gradio==4.25.0